## Project Runner

### I. Import packages

In [8]:
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np

from sklearn.neighbors import KNeighborsClassifier
from sklearn.model_selection import train_test_split
from sklearn.metrics import classification_report, confusion_matrix, accuracy_score, roc_auc_score, precision_recall_fscore_support, roc_curve, f1_score
from sklearn.preprocessing import StandardScaler
from sklearn.tree import  DecisionTreeClassifier
from sklearn.neural_network import MLPClassifier
from sklearn.model_selection import cross_val_score, cross_validate
from sklearn.ensemble import RandomForestClassifier, GradientBoostingClassifier
from sklearn.linear_model import LogisticRegression


""" 
9.3% of the population in the United States have diabetes , 28%
The cost of misclassification is high

"""


"""
TODO:
get average of visits
"""

'\nTODO:\nget average of visits\n'

In [2]:
def load_csv_data(filename):
    data = pd.read_csv(filename)
    return data

# Example usage
csv_filename = 'dataset/diabetic_data.csv'
df = pd.read_csv(csv_filename)

# use chucksize parameter in read_csv() to not read everything into memory
# concat to combine dataframes

In [35]:
cols = df.columns
missing_cols = ['race','weight','payer_code','medical_specialty','diag_1','diag_2','diag_3']

In [51]:
for col in cols:
    print(df[col][:20])

0     2278392
1      149190
2       64410
3      500364
4       16680
5       35754
6       55842
7       63768
8       12522
9       15738
10      28236
11      36900
12      40926
13      42570
14      62256
15      73578
16      77076
17      84222
18      89682
19     148530
Name: encounter_id, dtype: int64
0       8222157
1      55629189
2      86047875
3      82442376
4      42519267
5      82637451
6      84259809
7     114882984
8      48330783
9      63555939
10     89869032
11     77391171
12     85504905
13     77586282
14     49726791
15     86328819
16     92519352
17    108662661
18    107389323
19     69422211
Name: patient_nbr, dtype: int64
0           Caucasian
1           Caucasian
2     AfricanAmerican
3           Caucasian
4           Caucasian
5           Caucasian
6           Caucasian
7           Caucasian
8           Caucasian
9           Caucasian
10    AfricanAmerican
11    AfricanAmerican
12          Caucasian
13          Caucasian
14    AfricanAmerican
15    AfricanAmerican
16    AfricanAmerican
17          Caucasian
18    AfricanAmerican
19                  ?
Name: race, dtype: object
0     Female
1     Female
2     Female
3       Male
4       Male
5       Male
6       Male
7       Male
8     Female
9     Female
10    Female
11      Male
12    Female
13      Male
14    Female
15      Male
16      Male
17    Female
18      Male
19      Male
Name: gender, dtype: object
0       [0-10)
1      [10-20)
2      [20-30)
3      [30-40)
4      [40-50)
5      [50-60)
6      [60-70)
7      [70-80)
8      [80-90)
9     [90-100)
10     [40-50)
11     [60-70)
12     [40-50)
13     [80-90)
14     [60-70)
15     [60-70)
16     [50-60)
17     [50-60)
18     [70-80)
19     [70-80)
Name: age, dtype: object
0     ?
1     ?
2     ?
3     ?
4     ?
5     ?
6     ?
7     ?
8     ?
9     ?
10    ?
11    ?
12    ?
13    ?
14    ?
15    ?
16    ?
17    ?
18    ?
19    ?
Name: weight, dtype: object
0     6
1     1
2     1
3     1
4     1
5     2
6     3
7     1
8     2
9     3
10    1
11    2
12    1
13    1
14    3
15    1
16    1
17    1
18    1
19    3
Name: admission_type_id, dtype: int64
0     25
1      1
2      1
3      1
4      1
5      1
6      1
7      1
8      1
9      3
10     1
11     1
12     3
13     6
14     1
15     3
16     1
17     1
18     1
19     6
Name: discharge_disposition_id, dtype: int64
0     1
1     7
2     7
3     7
4     7
5     2
6     2
7     7
8     4
9     4
10    7
11    4
12    7
13    7
14    2
15    7
16    7
17    7
18    7
19    2
Name: admission_source_id, dtype: int64
0      1
1      3
2      2
3      2
4      1
5      3
6      4
7      5
8     13
9     12
10     9
11     7
12     7
13    10
14     1
15    12
16     4
17     3
18     5
19     6
Name: time_in_hospital, dtype: int64
0     ?
1     ?
2     ?
3     ?
4     ?
5     ?
6     ?
7     ?
8     ?
9     ?
10    ?
11    ?
12    ?
13    ?
14    ?
15    ?
16    ?
17    ?
18    ?
19    ?
Name: payer_code, dtype: object
0     Pediatrics-Endocrinology
1                            ?
2                            ?
3                            ?
4                            ?
5                            ?
6                            ?
7                            ?
8                            ?
9             InternalMedicine
10                           ?
11                           ?
12      Family/GeneralPractice
13      Family/GeneralPractice
14                           ?
15                           ?
16                           ?
17                  Cardiology
18                           ?
19                           ?
Name: medical_specialty, dtype: object
0     41
1     59
2     11
3     44
4     51
5     31
6     70
7     73
8     68
9     33
10    47
11    62
12    60
13    55
14    49
15    75
16    45
17    29
18    35
19    42
Name: num_lab_procedures, dtype: int64
0     0
1     0
2     5
3     1
4     0
5     6
6     1
7     0
8     2
9     3
10    2
11    0
12    0
13    1
14    5
15    5
16    4
17    0
18    5
19    2
Name: num_procedures, dtype: int64
0      1
1     18
2     13
3     16
4      8
5     16
6     21
7     12
8     28
9     18
10    17
11    11
12    15
13    31
14     2
15    13
16    17
17    11
18    23
19    23
Name: num_medications, dtype: int64
0     0
1     0
2     2
3     0
4     0
5     0
6     0
7     0
8     0
9     0
10    0
11    0
12    0
13    0
14    0
15    0
16    0
17    0
18    0
19    0
Name: number_outpatient, dtype: int64
0     0
1     0
2     0
3     0
4     0
5     0
6     0
7     0
8     0
9     0
10    0
11    0
12    1
13    0
14    0
15    0
16    0
17    0
18    0
19    0
Name: number_emergency, dtype: int64
0     0
1     0
2     1
3     0
4     0
5     0
6     0
7     0
8     0
9     0
10    0
11    0
12    0
13    0
14    0
15    0
16    0
17    0
18    0
19    0
Name: number_inpatient, dtype: int64
0     250.83
1        276
2        648
3          8
4        197
5        414
6        414
7        428
8        398
9        434
10     250.7
11       157
12       428
13       428
14       518
15       999
16       410
17       682
18       402
19       737
Name: diag_1, dtype: object
0          ?
1     250.01
2        250
3     250.43
4        157
5        411
6        411
7        492
8        427
9        198
10       403
11       288
12    250.43
13       411
14       998
15       507
16       411
17       174
18       425
19       427
Name: diag_2, dtype: object
0         ?
1       255
2       V27
3       403
4       250
5       250
6       V45
7       250
8        38
9       486
10      996
11      197
12    250.6
13      427
14      627
15      996
16      414
17      250
18      416
19      714
Name: diag_3, dtype: object
0     1
1     9
2     6
3     7
4     5
5     9
6     7
7     8
8     8
9     8
10    9
11    7
12    8
13    8
14    8
15    9
16    8
17    3
18    9
19    8
Name: number_diagnoses, dtype: int64
0     NaN
1     NaN
2     NaN
3     NaN
4     NaN
5     NaN
6     NaN
7     NaN
8     NaN
9     NaN
10    NaN
11    NaN
12    NaN
13    NaN
14    NaN
15    NaN
16    NaN
17    NaN
18    NaN
19    NaN
Name: max_glu_serum, dtype: object
0     NaN
1     NaN
2     NaN
3     NaN
4     NaN
5     NaN
6     NaN
7     NaN
8     NaN
9     NaN
10    NaN
11    NaN
12    NaN
13    NaN
14    NaN
15    NaN
16    NaN
17    NaN
18    NaN
19    NaN
Name: A1Cresult, dtype: object
0         No
1         No
2         No
3         No
4         No
5         No
6     Steady
7         No
8         No
9         No
10        No
11        No
12    Steady
13        No
14        No
15        No
16        No
17        No
18        No
19        No
Name: metformin, dtype: object
0     No
1     No
2     No
3     No
4     No
5     No
6     No
7     No
8     No
9     No
10    No
11    No
12    Up
13    No
14    No
15    No
16    No
17    No
18    No
19    No
Name: repaglinide, dtype: object
0     No
1     No
2     No
3     No
4     No
5     No
6     No
7     No
8     No
9     No
10    No
11    No
12    No
13    No
14    No
15    No
16    No
17    No
18    No
19    No
Name: nateglinide, dtype: object
0     No
1     No
2     No
3     No
4     No
5     No
6     No
7     No
8     No
9     No
10    No
11    No
12    No
13    No
14    No
15    No
16    No
17    No
18    No
19    No
Name: chlorpropamide, dtype: object
0         No
1         No
2         No
3         No
4         No
5         No
6     Steady
7         No
8         No
9         No
10        No
11        No
12        No
13        No
14        No
15        No
16        No
17        No
18        No
19        No
Name: glimepiride, dtype: object
0     No
1     No
2     No
3     No
4     No
5     No
6     No
7     No
8     No
9     No
10    No
11    No
12    No
13    No
14    No
15    No
16    No
17    No
18    No
19    No
Name: acetohexamide, dtype: object
0         No
1         No
2     Steady
3         No
4     Steady
5         No
6         No
7         No
8     Steady
9         No
10        No
11        No
12        No
13        No
14        No
15        No
16    Steady
17        No
18        No
19        No
Name: glipizide, dtype: object
0         No
1         No
2         No
3         No
4         No
5         No
6         No
7     Steady
8         No
9         No
10        No
11        Up
12        No
13        No
14        No
15        No
16        No
17    Steady
18        No
19      Down
Name: glyburide, dtype: object
0     No
1     No
2     No
3     No
4     No
5     No
6     No
7     No
8     No
9     No
10    No
11    No
12    No
13    No
14    No
15    No
16    No
17    No
18    No
19    No
Name: tolbutamide, dtype: object
0     No
1     No
2     No
3     No
4     No
5     No
6     No
7     No
8     No
9     No
10    No
11    No
12    No
13    No
14    No
15    No
16    No
17    No
18    No
19    No
Name: pioglitazone, dtype: object
0         No
1         No
2         No
3         No
4         No
5         No
6         No
7         No
8         No
9     Steady
10        No
11        No
12        No
13        No
14        No
15        No
16        No
17        No
18        No
19        No
Name: rosiglitazone, dtype: object
0     No
1     No
2     No
3     No
4     No
5     No
6     No
7     No
8     No
9     No
10    No
11    No
12    No
13    No
14    No
15    No
16    No
17    No
18    No
19    No
Name: acarbose, dtype: object
0     No
1     No
2     No
3     No
4     No
5     No
6     No
7     No
8     No
9     No
10    No
11    No
12    No
13    No
14    No
15    No
16    No
17    No
18    No
19    No
Name: miglitol, dtype: object
0     No
1     No
2     No
3     No
4     No
5     No
6     No
7     No
8     No
9     No
10    No
11    No
12    No
13    No
14    No
15    No
16    No
17    No
18    No
19    No
Name: troglitazone, dtype: object
0     No
1     No
2     No
3     No
4     No
5     No
6     No
7     No
8     No
9     No
10    No
11    No
12    No
13    No
14    No
15    No
16    No
17    No
18    No
19    No
Name: tolazamide, dtype: object
0     No
1     No
2     No
3     No
4     No
5     No
6     No
7     No
8     No
9     No
10    No
11    No
12    No
13    No
14    No
15    No
16    No
17    No
18    No
19    No
Name: examide, dtype: object
0     No
1     No
2     No
3     No
4     No
5     No
6     No
7     No
8     No
9     No
10    No
11    No
12    No
13    No
14    No
15    No
16    No
17    No
18    No
19    No
Name: citoglipton, dtype: object
0         No
1         Up
2         No
3         Up
4     Steady
5     Steady
6     Steady
7         No
8     Steady
9     Steady
10    Steady
11    Steady
12      Down
13    Steady
14    Steady
15        Up
16    Steady
17        No
18    Steady
19    Steady
Name: insulin, dtype: object
0     No
1     No
2     No
3     No
4     No
5     No
6     No
7     No
8     No
9     No
10    No
11    No
12    No
13    No
14    No
15    No
16    No
17    No
18    No
19    No
Name: glyburide-metformin, dtype: object
0     No
1     No
2     No
3     No
4     No
5     No
6     No
7     No
8     No
9     No
10    No
11    No
12    No
13    No
14    No
15    No
16    No
17    No
18    No
19    No
Name: glipizide-metformin, dtype: object
0     No
1     No
2     No
3     No
4     No
5     No
6     No
7     No
8     No
9     No
10    No
11    No
12    No
13    No
14    No
15    No
16    No
17    No
18    No
19    No
Name: glimepiride-pioglitazone, dtype: object
0     No
1     No
2     No
3     No
4     No
5     No
6     No
7     No
8     No
9     No
10    No
11    No
12    No
13    No
14    No
15    No
16    No
17    No
18    No
19    No
Name: metformin-rosiglitazone, dtype: object
0     No
1     No
2     No
3     No
4     No
5     No
6     No
7     No
8     No
9     No
10    No
11    No
12    No
13    No
14    No
15    No
16    No
17    No
18    No
19    No
Name: metformin-pioglitazone, dtype: object
0     No
1     Ch
2     No
3     Ch
4     Ch
5     No
6     Ch
7     No
8     Ch
9     Ch
10    No
11    Ch
12    Ch
13    No
14    No
15    Ch
16    Ch
17    No
18    No
19    Ch
Name: change, dtype: object
0      No
1     Yes
2     Yes
3     Yes
4     Yes
5     Yes
6     Yes
7     Yes
8     Yes
9     Yes
10    Yes
11    Yes
12    Yes
13    Yes
14    Yes
15    Yes
16    Yes
17    Yes
18    Yes
19    Yes
Name: diabetesMed, dtype: object
0      NO
1     >30
2      NO
3      NO
4      NO
5     >30
6      NO
7     >30
8      NO
9      NO
10    >30
11    <30
12    <30
13     NO
14    >30
15     NO
16    <30
17     NO
18    >30
19     NO
Name: readmitted, dtype: object

In [11]:
pd.set_option('display.max_columns', None)
pd.set_option('display.max_rows', 50)
pd.set_option('display.width', None)
# pd.reset_option('display.max_columns')
# pd.reset_option('display.max_rows')
# pd.reset_option('display.width')

In [13]:
# specific row
df.head(100)


# for index, row in df.iterrows():
#     print(row['diag_2'])

# for col in missing_cols:
#     count = 0
#     for index, row in df.iterrows():
#         if (row[col]=="?" or row[col]=="NaN"):
#             count +=1
#     print(col,count)

# df.dropna(inplace = True)
# print('Total data = ', len(df))
# print('Unique entries = ', len(np.unique(df['patient_nbr'])))


# df[df['patient_nbr']==23043240] 

# aggreate(groupby) sum,mean,count

,encounter_id,patient_nbr,race,gender,age,weight,admission_type_id,discharge_disposition_id,admission_source_id,time_in_hospital,payer_code,medical_specialty,num_lab_procedures,num_procedures,num_medications,number_outpatient,number_emergency,number_inpatient,diag_1,diag_2,diag_3,number_diagnoses,max_glu_serum,A1Cresult,metformin,repaglinide,nateglinide,chlorpropamide,glimepiride,acetohexamide,glipizide,glyburide,tolbutamide,pioglitazone,rosiglitazone,acarbose,miglitol,troglitazone,tolazamide,examide,citoglipton,insulin,glyburide-metformin,glipizide-metformin,glimepiride-pioglitazone,metformin-rosiglitazone,metformin-pioglitazone,change,diabetesMed,readmitted
0,2278392,8222157,Caucasian,Female,[0-10),?,6,25,1,1,?,Pediatrics-Endocrinology,41,0,1,0,0,0,250.83,?,?,1,NaN,NaN,No,No,No,No,No,No,No,No,No,No,No,No,No,No,No,No,No,No,No,No,No,No,No,No,No,NO
1,149190,55629189,Caucasian,Female,[10-20),?,1,1,7,3,?,?,59,0,18,0,0,0,276,250.01,255,9,NaN,NaN,No,No,No,No,No,No,No,No,No,No,No,No,No,No,No,No,No,Up,No,No,No,No,No,Ch,Yes,>30
2,64410,86047875,AfricanAmerican,Female,[20-30),?,1,1,7,2,?,?,11,5,13,2,0,1,648,250,V27,6,NaN,NaN,No,No,No,No,No,No,Steady,No,No,No,No,No,No,No,No,No,No,No,No,No,No,No,No,No,Yes,NO
3,500364,82442376,Caucasian,Male,[30-40),?,1,1,7,2,?,?,44,1,16,0,0,0,8,250.43,403,7,NaN,NaN,No,No,No,No,No,No,No,No,No,No,No,No,No,No,No,No,No,Up,No,No,No,No,No,Ch,Yes,NO
4,16680,42519267,Caucasian,Male,[40-50),?,1,1,7,1,?,?,51,0,8,0,0,0,197,157,250,5,NaN,NaN,No,No,No,No,No,No,Steady,No,No,No,No,No,No,No,No,No,No,Steady,No,No,No,No,No,Ch,Yes,NO
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
95,1195056,79549353,Caucasian,Male,[70-80),?,2,1,2,1,?,?,19,2,8,0,0,0,996,413,414,9,NaN,NaN,No,No,No,No,No,No,No,No,No,No,No,No,No,No,No,No,No,Steady,No,No,No,No,No,No,Yes,>30
96,1195548,106343838,Caucasian,Female,[70-80),?,1,3,7,5,?,Family/GeneralPractice,64,0,21,0,0,1,38,428,427,8,NaN,NaN,No,No,No,No,No,No,No,No,No,No,No,No,No,No,No,No,No,Steady,No,No,No,No,No,No,Yes,>30
97,1212006,84981816,Caucasian,Male,[70-80),?,1,1,7,3,?,?,55,4,23,0,0,1,414,411,511,9,NaN,NaN,No,No,No,No,No,No,No,No,No,No,No,No,No,No,No,No,No,Down,No,No,No,No,No,Ch,Yes,NO
98,1257282,84488562,Other,Female,[50-60),?,1,1,7,2,?,Surgery-General,53,0,6,0,0,0,590,250.01,401,3,NaN,>8,No,No,No,No,No,No,No,No,No,No,No,No,No,No,No,No,No,Up,No,No,No,No,No,Ch,Yes,NO
99,1260216,92117574,?,Male,[30-40),?,2,6,4,6,?,?,72,2,16,0,0,1,556,285,250,5,NaN,NaN,No,No,No,No,No,No,No,No,Steady,No,No,No,No,No,No,No,No,Steady,No,No,No,No,No,Ch,Yes,>30

In [37]:
df.describe()

,encounter_id,patient_nbr,admission_type_id,discharge_disposition_id,admission_source_id,time_in_hospital,num_lab_procedures,num_procedures,num_medications,number_outpatient,number_emergency,number_inpatient,number_diagnoses
count,1.017660e+05,1.017660e+05,101766.000000,101766.000000,101766.000000,101766.000000,101766.000000,101766.000000,101766.000000,101766.000000,101766.000000,101766.000000,101766.000000
mean,1.652016e+08,5.433040e+07,2.024006,3.715642,5.754437,4.395987,43.095641,1.339730,16.021844,0.369357,0.197836,0.635566,7.422607
std,1.026403e+08,3.869636e+07,1.445403,5.280166,4.064081,2.985108,19.674362,1.705807,8.127566,1.267265,0.930472,1.262863,1.933600
min,1.252200e+04,1.350000e+02,1.000000,1.000000,1.000000,1.000000,1.000000,0.000000,1.000000,0.000000,0.000000,0.000000,1.000000
25%,8.496119e+07,2.341322e+07,1.000000,1.000000,1.000000,2.000000,31.000000,0.000000,10.000000,0.000000,0.000000,0.000000,6.000000
50%,1.523890e+08,4.550514e+07,1.000000,1.000000,7.000000,4.000000,44.000000,1.000000,15.000000,0.000000,0.000000,0.000000,8.000000
75%,2.302709e+08,8.754595e+07,3.000000,4.000000,7.000000,6.000000,57.000000,2.000000,20.000000,0.000000,0.000000,1.000000,9.000000
max,4.438672e+08,1.895026e+08,8.000000,28.000000,25.000000,14.000000,132.000000,6.000000,81.000000,42.000000,76.000000,21.000000,16.000000

### II. Data Cleanning and Setup

In [5]:
# Copy code from cleaner.ipynb 
# OR import clean .csv produced from cleaner

# Split data into trainning-validation-test

### III. Trainning

In [7]:
# Implement ML classifiers

# May include experiments of tunning hyperparameters

### IV. Testing and Graph